.formBody {
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
}

.formBody mat-form-field {
  margin: 5px;
}

.actionButtons {
  margin-bottom: 40px;
  text-align: center;
}

.actionButtons button {
  margin: 0 10px;
}