<div class="header">
    <h1>Our Team</h1>
</div>

<div class="row">
	<div class="col-md-4">
		<mat-card class="team-card">
			<mat-card-header>
				<mat-card-title>Nikan Afshar</mat-card-title>
				<mat-card-subtitle>500807513</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="../../assets/images/nikan.jpeg">
			<mat-card-content>
				<p>
					4th year computer science co-op student with interests in full-stack development and data science.
				</p>
			</mat-card-content>
		
		</mat-card>
	</div>
	<div class="col-md-4">
		<mat-card class="team-card">
			<mat-card-header>
				<mat-card-title>Marco</mat-card-title>
				<mat-card-subtitle>student #</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
			<mat-card-content>
				<p>
					brief desc of marco
				</p>
			</mat-card-content>
		
		</mat-card>
	</div>
	<div class="col-md-4">
		<mat-card class="team-card">
			<mat-card-header>
				<mat-card-title>Mohamed Elbadry</mat-card-title>
				<mat-card-subtitle>500860249</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="../../assets/images/mo.jpg">
			<mat-card-content>
				<p>
					4th year Computer Science Student at Ryerson University with interest in Software/Web development
				</p>
			</mat-card-content>
		
		</mat-card>
	</div>
</div>
<hr>
<div class="desc">
	<p class="title">“Plan for Smart Services” (P2S)  Web-Application. </p>
	<p class="text">	P2S is an online system that aims to plan for smart green trips inside the city and its neighborhood through sharing vehicles (like Uber).
		 Considering the traffic as a serious threat to the quality of life these years, 
		 the world has been looking for various solutions to decrease the stress, frustration, delays and terrible air pollutions being caused through it. 
		 P2S attempts to provide a smart green solution on this regard by matching up drivers who live, work, and finally drive in the same neighborhood and would like to provide trip services.</p>
</div>