<p>P2S</p>
<div class="Header">
    <h1>Our Team</h1>
</div>

<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Nikan</mat-card-title>
		<mat-card-subtitle>student #</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			brief desc of nikan
		</p>
	</mat-card-content>

</mat-card>

<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Marco</mat-card-title>
		<mat-card-subtitle>student #</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<p>
			brief desc of marco
		</p>
	</mat-card-content>

</mat-card>
<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Mohamed Elbadry</mat-card-title>
		<mat-card-subtitle>500860249</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="../../assets/images/mo.jpg">
	<mat-card-content>
		<p>
			4th year Computer Science Student at Ryerson University with interest in Software/Web development
		</p>
	</mat-card-content>

</mat-card>