h1 {
  text-align: center;
  font-weight: bold !important;
}

.team-container {
  justify-content: center;
}

.team-container .mat-card {
   margin: 20px;
 }

.mat-card {
  height: 100%;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.mat-card-image {
  height: 250px;
}

p.info {
  text-align: center;
  font-weight: bold !important;
  margin: 10px 20px;
  text-shadow: 0 0 black;
  font-size: large;
}

.header {
  margin-top: 50px;
}

.header h1 {
  font-size: 2rem;
}

/* .row {
  padding: 50px 350px;
} */

hr {
  width: 70%;
}

.team-card {
  width: 250px;
  height: 420px;
}

.desc {
  width: 50%;
  margin: 20px auto;
  margin-bottom: 10vh;
}

.desc .title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.desc .text {
  padding: 10px;
  font-size: 1rem;
}
