::ng-deep mat-form-field {
  width: 200px!important;
}

img {
  width: 100%;
}

agm-map {
  height: 600px;
}

.car-container {
  width: 100%;
  overflow-x: hidden;
  padding: 50px;
}

.row .col-md-12 {
  text-align: center;
}

.row .col-md-12 input {
  width: 200px;
}

.row.action-btns {
  margin-top: 30px;
}

.row.action-btns button {
  width: 100px;
}

.row .col-md-6 {
  text-align: center;
}

.details-container {
  padding: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  overflow-y: visible;
}

.carousel-item.active {
  height: 100% !important;
}

.h4 {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 30px;
  font-size: 1.2rem;
}

.h5 {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.actionButtons {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.actionButtons button {
  margin: 0 10px;
}

li {
  margin: 10px 0;
}

/* Loading sign */

.backdrop {
  margin: 0 auto;
  margin: 30vh 0;
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border-top: 8px solid aliceblue;
  border-right: 8px solid aliceblue;
  border-bottom: 8px solid aliceblue;
  border-left: 8px solid #26191b;
  border-radius: 50%;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-left: 8px solid #26191b;
  }

  25% {
    transform: rotate(360deg);
    border-left: 8px solid #f9b384;
  }

  50% {
    transform: rotate(720deg);
    border-left: 8px solid #26191b;
  }

  75% {
    transform: rotate(1080deg);
    border-left: 8px solid #f9b384;
  }

  100% {
    transform: rotate(1440deg);
    border-left: 8px solid #26191b;
  }
}

.logo {
  margin-top: 5px;
  letter-spacing: 0.06em;
  font-size: 0.8rem;
}

.form-group {
  width: 100%;
}

.field-size {
  float: left;
  padding-left: 0px !important;
}

.field-qty {
  float: right;
  padding-left: 0px !important;
  padding-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .details-container {
    padding: 40px;
  }

  .field {
    margin: 0px 0px;
    width: 33%;
  }

  .field-qty {
    float: right;
    padding-left: 0px !important;
    padding-right: 0px;
  }
}
