.content {
  padding: 50px;
}

.title {
  font-size: 3rem;
  margin: 50px 0;
}

.selected {
  border: 2px solid black;
}

#map {
  height: 400px;
  width: 100%;
}

.selection {
  position: absolute;
  top: 15px;
  right: 15px;
}

.direction-section .col-md-4 {
  text-align: center;
}

.direction-section .field {
  width: 70%;
  margin: 0 auto;
}

.cars .row {
  margin: 30px 0;
}

.cars .col-md-4 {
  margin: 20px 0;
}

.cars .mat-card {
  cursor: pointer;
  height: 100%;
}

p {
  font-size: 1.1rem;
  font-family: "Open Sans Condensed", sans-serif;
}

.delete-icon {
  position: absolute;
  color: #212529;
  right: 10px;
  top: 10px;
  font-family: "Material Icons";
  font-size: 2rem;
}

.delete-icon:hover, .favorite-red {
  color: #f05454;
}

/* Loading sign */

.backdrop {
  margin: 0 auto;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 40vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border-top: 8px solid aliceblue;
  border-right: 8px solid aliceblue;
  border-bottom: 8px solid aliceblue;
  border-left: 8px solid #26191b;
  border-radius: 50%;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-left:8px solid #26191b;
  }

  25%{
    transform: rotate(360deg);
    border-left:8px solid #f9b384;
  }

  50%{
    transform:rotate(720deg);
    border-left:8px solid #26191b;
  }

  75%{
    transform: rotate(1080deg);
    border-left:8px solid #f9b384;
  }

  100% {
    transform: rotate(1440deg);
    border-left:8px solid #26191b;
  }

}

.logo {
  margin-top: 5px;
  letter-spacing:0.06em;
  font-size: 0.8rem;
}
