<div class="content">
    <p class="title">DB Maintain</p>
    <div class="functions">
        <div class="row">
            <mat-card appMaterialElevation>
                <a [routerLink]="['user-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/group.png" alt="Users"></div>
                    <p class="card-title">Maintain System Users</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['store-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/shop.png" alt="Store"></div>
                    <p class="card-title">Store Information</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['reviews-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/review.png" alt="Review"></div>
                    <p class="card-title">User Reviews</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['order-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/order.png" alt="Order"></div>
                    <p class="card-title">User Orders</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['car-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/car.png" alt="Car"></div>
                    <p class="card-title">Ride Services Cars</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['payment-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/credit-card.png" alt="Payment"></div>
                    <p class="card-title">Payment Information</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['trip-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/destination.png" alt="Destination"></div>
                    <p class="card-title">Trip Information</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['inquiry-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/clipboard.png" alt="Clipboard"></div>
                    <p class="card-title">User Inquiries</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['driver-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/driver.png" alt="Driver"></div>
                    <p class="card-title">Drivers</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['loginattempt-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/hacker.png" alt="Hacker"></div>
                    <p class="card-title">Login Attempts</p>
                </a>
            </mat-card>
        </div>
    </div>
</div>