<div class="content">
    <p class="title">DB Maintain</p>
    <div class="functions">
        <div class="row">
            <mat-card appMaterialElevation>
                <a [routerLink]="['user-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/group.png" alt="Users"></div>
                    <p class="card-title">Maintain System Users</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['store-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/shop.png" alt="Store"></div>
                    <p class="card-title">Store Information</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['user-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/review.png" alt="Review"></div>
                    <p class="card-title">User Reviews</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['user-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/order.png" alt="Order"></div>
                    <p class="card-title">User Orders</p>
                </a>
            </mat-card>
            <mat-card appMaterialElevation>
                <a [routerLink]="['car-maintain']" routerLinkActive="active">
                    <div class="card-image"><img src="../../assets/icons/car.png" alt="Car"></div>
                    <p class="card-title">Ride Services Cars</p>
                </a>
            </mat-card>
        </div>
    </div>
</div>