.title {
  font-size: 3rem;
  margin: 20px 0;
  text-align: center;
}

.stores {
  display: flex;
}

.content {
  padding: 40px;
  min-height: 800px;
}

.stores .add-store,
.store-card {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
  padding: 35px;
}

.stores .add-store img {
    width: 75px;
    height: 75px;
}

.card-image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.mat-card {
  padding: 0px !important;
}
