<div class="content">
    <p class="title">Maintain Stores</p>
    <div class="stores">
        <mat-card appMaterialElevation class="store-card" (click)="updateStore('Flower')">
            <div class="card-image"><img src="../../assets/images/flowerStore.jpg"></div>
        </mat-card>
        <mat-card appMaterialElevation class="store-card" (click)="updateStore('Coffee')">
            <div class="card-image"><img src="../../assets/images/coffeeStore.jpg"></div>
        </mat-card>
    </div>
</div>