<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <h6>P2S Online System</h6>
                <img src="../../assets/icons/logo.jpg" alt="P2S Logo" class="logo">
                <p>We believe in a world where you have total freedom to be you, without judgement. To experiment. To
                    express yourself. To be brave and grab life as the extraordinary adventure it is. So we make sure
                    everyone has an equal chance to discover all the amazing things they’re capable of – no matter who
                    they are, where they’re from or what looks they like to boss. We exist to give you the confidence to
                    be whoever you want to be.</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <h6>Help & Information</h6>
                <ul class="footer-links">
                    <li><a [routerLink]="['about']" routerLinkActive="active">About Us</a></li>
                    <li><a [routerLink]="['contact']" routerLinkActive="active">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 social-media">
                <a class="facebook" href="https://facebook.com/"><img src="../../assets/icons/icons8-facebook-50.png" alt="facebook"></a>
                <a class="twitter" href="https://twitter.com/"><img src="../../assets/icons/icons8-twitter-50.png" alt="twitter"></a>
                <a class="instagram" href="https://instagram.com/"><img src="../../assets/icons/icons8-instagram-50.png" alt="instagram"></a>
                <a class="linkedin" href="https://linkedin.com/"><img src="../../assets/icons/icons8-linkedin-50.png" alt="linkedin"></a>
            </div>
        </div>
    </div>
</footer>