<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <h6>P2S Online System</h6>
                <img src="../../assets/icons/logo.jpg" alt="P2S Logo" class="logo">
                <p>We believe in a world where you have total freedom to be you. We believe in a greener world and that's why we
                    provide ride-sharing services. We believe in a world in which you don't have to spend time shopping. We deliver your 
                    favorite products at a much lower cost and you can spend your time doing what you enjoy doing.</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <h6>Help & Information</h6>
                <ul class="footer-links">
                    <li><a [routerLink]="['about']" routerLinkActive="active">About Us</a></li>
                    <li><a [routerLink]="['contact']" routerLinkActive="active">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 social-media">
                <a class="facebook" href="https://facebook.com/"><img src="../../assets/icons/icons8-facebook-50.png" alt="facebook"></a>
                <a class="twitter" href="https://twitter.com/"><img src="../../assets/icons/icons8-twitter-50.png" alt="twitter"></a>
                <a class="instagram" href="https://instagram.com/"><img src="../../assets/icons/icons8-instagram-50.png" alt="instagram"></a>
                <a class="linkedin" href="https://linkedin.com/"><img src="../../assets/icons/icons8-linkedin-50.png" alt="linkedin"></a>
            </div>
        </div>
    </div>
</footer>