.content {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin: 50px 0;
}

.services .mat-card {
  width: 300px;
  margin: 0 auto;
}

.mat-card * {
  font-family: "Open Sans Condensed", sans-serif !important;
}

.mat-card .title {
  margin: 0px;
  font-size: 2rem;
}

.services {
  display: flex;
  justify-content: center;
}

.services .mat-card  {
  margin: 30px;
}

.services .mat-card .service-logo img {
  width: 100%;
  height: 100%;
}

.services .mat-card .service-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.services .mat-card.selected {
  border: 2px solid black;
}

.mat-card hr {
  margin-bottom: 20px;
}

.comparison-table {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.notes {
    width: 90%;
    margin: 50px auto;
    font-size: 1.2rem;
}

.notes {
    font-family: "Open Sans Condensed", sans-serif !important;
}

.ride-green {
  width: 75px;
  height: 75px;
  margin-left: 20px;
}

.services .col-md-6 {
  padding: 30px 100px;
}

.services .service {
  cursor: pointer;
}
/* 
.service-container {
  display: flex;
} */