<div class="content">
    <p class="title">Ride Green (Service Comparator)</p>
    <div class="comparison-table">
        <table class="table table-bordered table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Services</th>
                    <th scope="col">Customize Car</th>
                    <th scope="col">Customize Driver</th>
                    <th scope="col">Set Ride Preferences</th>
                    <th scope="col">Select Custom Source</th>
                    <th scope="col">Select Custom Destination</th>
                    <th scope="col">Price Per KM/M</th>
                    <th scope="col">Price Guarantee</th>
                    <th scope="col">Average Customer Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Ride Services</th>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>KM</td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>{{rideServicesAvg}}</td>
                </tr>
                <tr>
                    <th scope="row">Delivery Services</th>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>KM</td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>{{deliveryServicesAvg}}</td>
                </tr>
                <tr>
                    <th scope="row">Ride Green</th>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>KM</td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>{{rideGreenServiceAvg}}</td>
                </tr>
                <tr>
                    <th scope="row">Ride Social</th>
                    <td><span class="material-icons">cancel</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td><span class="material-icons" style="color: rgb(7, 165, 7);">check_circle</span></td>
                    <td>Minutes</td>
                    <td><span class="material-icons">cancel</span></td>
                    <td>{{rideSocialServiceAvg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="notes">
        Note: In order to book with our "green ride" service you need to add one "delivery service" item and one "ride service" order to your shopping cart. The system will automatically identify your order as a "green ride" service and you should be able to see the "green ride" service logo on your cart. <img src="../../assets/images/ride-green.png" class="ride-green" alt="Ride Green">
        <br>
        <br>
        Note: Ride Green allows customers to get their favorite items delivered while using the ride services.
    </div>
</div>