* {
  font-family: "Asap Condensed", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.form-box {
  box-sizing: content-box;
  margin:  20% auto;
  height: 570px;
  width: 80%;
  border: 3px #26191b solid;
  padding: 2rem 0;
  overflow: auto;
}

.form-box h3 {
  text-align: center;
  color: #26191b;
  letter-spacing: 2px;
}

.contact-form {
  padding: 5% 15%;
  text-align: center;
}

.col-md-6 {
  padding: 0px!important;
}

.field {
  width: 90%;
}

.submitButton {
  margin: 1.5vh 0;
  width: 150px !important;
  background-color: #26191b;
  color: #ecf8f8;
}

.submitButton:hover {
  background-color: #f9b384;
  color: #26191b;
}

.text-area {
  width: 95%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #26191b !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #f9b384 !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-input-element {
  caret-color: red !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(78, 78, 78, 0.6) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #f9b384 !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #26191b !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #26191b;
}

@media (max-width: 1200px) {
  .image-banner {
    display: none;
  }

  .col-md-6 {
    flex: unset;
    max-width: 100%;
  }

  .form-box {
    width: 70%;
    margin: 10% auto;
    margin-bottom: 2rem;
  }
}
