<div class="container-fluid">
    <div *ngIf="cartItems.length > 0 && !this.checkout" class="products">
        <div *ngFor="let item of cartItems; let i = index">
            <div class="row">
                <div class="col-md-12 shopping-cart-item" (click)="this.openProductDialog(item)">
                    <mat-card appMaterialElevation class="example-card">
                        <mat-card-content class="mat-content">
                            <div class="row">
                                <span class="material-icons delete-icon"
                                    (click)="removeItem(item); $event.stopPropagation()">clear</span>
                                <div class="col-md-5">
                                    <div class="card-image"><img raisedElevation="16" mat-card-image
                                            src={{item.imageURL}} alt={{item.productName}}></div>
                                </div>
                                <div class="col-md-7">
                                    <p>
                                        {{item.productName}}
                                    </p>
                                    <p class="price">
                                        CAD {{item.price}}
                                    </p>
                                    <div class="row size-and-quantity">
                                        <div class="col-md-6">
                                            <div class="form-group field-size">
                                                <label for="size">Size:</label>
                                                <select class="form-control" id="size" name="size"
                                                    [(ngModel)]="item.size" (click)="$event.stopPropagation()">
                                                    <option value="xs">XS</option>
                                                    <option value="s">S</option>
                                                    <option value="m">M</option>
                                                    <option value="l">L</option>
                                                    <option value="xl">XL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group field-qty">
                                                <label for="qty">Qty:</label>
                                                <select class="form-control" id="qty" name="qty" [(ngModel)]="item.qty"
                                                    (change)="onChange($event)" (click)="$event.stopPropagation()">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="row total-price">
            <p><span class="title sub-title">SUB-TOTAL: </span><span class="price sub-title">CAD
                    {{this.subTotal.toFixed(2)}}</span></p>
            <p><span class="title sub-title">DELIVERY: </span><span class="price sub-title">FREE</span></p>
            <p><span class="title">TOTAL TO PAY: </span><span class="price">CAD {{this.subTotal.toFixed(2)}}</span></p>
        </div>
        <div class="action-buttons">
            <button mat-raised-button class="cancel">CANCEL</button>
            <button mat-raised-button color="primary" class="checkout" (click)="this.checkout = true;">CHECKOUT</button>
        </div>
    </div>
    <div class="no-items" *ngIf="cartItems.length === 0">
        <h3>CART IS EMPTY</h3>
    </div>
    <app-checkout *ngIf="this.checkout" (goBack)="this.checkout = false;" [cartItems]="this.cartItems"></app-checkout>
</div>