<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/icons/P2S.png" alt="P2S Logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['reviews']" routerLinkActive="active">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Types of Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['ride-services']" routerLinkActive="active">Ride Services</a>
                    <a class="dropdown-item" [routerLink]="['delivery-services']" routerLinkActive="active">Delivery Services</a>
                    <a class="dropdown-item" [routerLink]="['ride-green']" routerLinkActive="active">Ride Green</a>
                    <a class="dropdown-item" [routerLink]="['ride-social']" routerLinkActive="active">Ride Social</a>
                </div>
            </li>
            <!-- <li class="nav-item" *ngIf="this.userIsLoggedIn">
                <a class="nav-link" [routerLink]="['orders']" routerLinkActive="active">Orders</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item" *ngIf="user.isAdmin == 1">
                <a class="nav-link" [routerLink]="['dbMaintain']" routerLinkActive="active">DB Maintain</a>
            </li>
        </ul>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item item-icon">
                    <a class="nav-link item-icon" *ngIf="this.userIsLoggedIn" [routerLink]="['favorites']"
                        routerLinkActive="active"><span class="material-icons">favorite_border</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link item-icon" (click)="this.openCartHandler()"><span
                            class="material-icons">shopping_basket</span><span class='badge badge-warning'
                            id='lblCartCount' *ngIf="cartItems.length > 0">
                            {{cartItems.length}} </span></a>
                </li>
                <li class="nav-item item-icon">
                    <a class="nav-link" (click)="handleLogin(content)"><span *ngIf="!user.Email"
                            class="material-icons">account_circle</span><span *ngIf="user.Email"
                            class="material-icons" (click)="logout()">login</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #content let-modal center>
    <app-login #login [content]="content" (userStatus)="onUserStatusChange($event)"></app-login>
</ng-template>