<div class="container-shadow"></div>
<div class="container">
  <div class="wrap">
    <div class="headings" *ngIf="!this.userHasSignedUp && !suspiciousActivity">
      <a id="sign-in" [ngClass]="{'active': !signUpSelected}" (click)="changeTab()"><span>Log In</span></a>
      <a id="sign-up" [ngClass]="{'active': signUpSelected}" (click)="changeTab()"><span>Sign Up</span></a>
    </div>
    <span (click)="onGoBack()" *ngIf="!userHasSignedUp && signUpSelected && displayAdditionalInfo" class="material-icons go-back">arrow_back_ios</span>

    <div id="sign-in-form" *ngIf="!this.signUpSelected && !this.userHasSignedUp && !suspiciousActivity">
      <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
        <label for="username">Email Address</label>
        <input id="usernameSignIn" #usernameSignIn="ngModel" type="text" name="usernameSignIn"
          [(ngModel)]="this.tempUser.Email" required />
        <div *ngIf="signInForm.submitted && usernameSignIn.errors">
          <label *ngIf="usernameSignIn.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="usernameSignIn.errors.pattern" class="validation-message">Invalid username.</label>
        </div>
        <label for="password">Password</label>
        <input id="passwordSignIn" type="password" #passwordSignIn="ngModel" name="passwordSignIn"
          [(ngModel)]="this.tempUser.Password" required />
        <div *ngIf="signInForm.submitted && passwordSignIn.errors">
          <label *ngIf="passwordSignIn.errors.required" class="validation-message">This field is required.</label>
        </div>
        <input id="remember" type="checkbox" name="keepMeLoggedin" [(ngModel)]="keepMeLoggedIn"/>
        <label for="remember" id="rlabel" >Keep me Signed in</label>
        <input type="submit" class="button" name="submit" value="Sign in" />
        <p class="error" *ngIf="remainingAttempts < 5">Invalid credentials. {{remainingAttempts}} remaining attempts.</p>
      </form>
      <footer>
        <div class="hr"></div>
        <div class="fp"><a href="">Forgot Password?</a></div>
      </footer>
    </div>

    <!-- Will be shown when user goes to the signup tab -->
    <div id="sign-up-form" *ngIf="this.signUpSelected && !this.userHasSignedUp">
      <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <div class="" [hidden]="displayAdditionalInfo">
          <label for="fullName">Full Name</label>
          <input id="fullName" type="text" name="fullName" #fullName="ngModel" [(ngModel)]="this.tempUser.Name"
            required />
          <div *ngIf="signUpForm.submitted && fullName.errors">
            <label *ngIf="fullName.errors.required" class="validation-message">This field is required.</label>
          </div>
          <label for="email">Email Address</label>
          <input id="emailSignUp" type="text" name="emailSignUp" #emailSignUp="ngModel" [(ngModel)]="this.tempUser.Email"
            required [pattern]="emailRX" />
          <div *ngIf="signUpForm.submitted && emailSignUp.errors">
            <label *ngIf="emailSignUp.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="emailSignUp.errors.pattern" class="validation-message">Invalid username. Please enter a valid
              email address.</label>
          </div>
          <label for="password">Password</label>
          <input id="passwordSignUp" type="password" name="passwordSignUp" #passwordSignUp="ngModel"
            [(ngModel)]="this.tempUser.Password" required />
          <div *ngIf="signUpForm.submitted && passwordSignUp.errors">
            <label *ngIf="passwordSignUp.errors.required" class="validation-message">This field is required.</label>
          </div>
        </div>
        

        <div class="onNext" [hidden]="!displayAdditionalInfo">
          <label for="phone">Phone Number</label>
          <input id="phone" type="text" name="phone" #phone="ngModel" placeholder="ex. (647) 123-3453" [(ngModel)]="this.tempUser.Tel"
            required [pattern]="phoneRX"/>
          <div *ngIf="signUpForm.submitted && phone.errors">
            <label *ngIf="phone.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="phone.errors.pattern" class="validation-message">Invalid phone number. Please enter a valid
              phone number.</label>
          </div>
          <label for="address">Full Address</label>
          <input id="address" type="text" name="address" #address="ngModel"
            [(ngModel)]="this.tempUser.Address" required />
          <div *ngIf="signUpForm.submitted && address.errors">
            <label *ngIf="address.errors.required" class="validation-message">This field is required.</label>
          </div>
          <label for="postal">Postal Code</label>
          <input id="postal" type="text" name="postal" #postal="ngModel"
            [(ngModel)]="this.tempUser.CityCode" required placeholder="ex. M5B4L1" [pattern]="postalCodeRX"/>
          <div *ngIf="signUpForm.submitted && postal.errors">
            <label *ngIf="postal.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="postal.errors.pattern" class="validation-message">Invalid postal code. Please enter a valid
              postal code. (Note: must be Canadian postal code.)</label>
          </div>
        </div>



        <input class="button" value="Next" *ngIf="!displayAdditionalInfo"  (click)="onNext()"/>
        <input class="button" name="submit" value="Register" *ngIf="displayAdditionalInfo" type="submit" />

        <p class="error" *ngIf="emailExists">Email address already exists.</p>
      </form>
    </div>

    <!-- Will be shown when the user completes sign up process -->
    <div id="email-conformation" *ngIf="userHasSignedUp">
      <div class="container-fluid email-conformation-container">
        <mat-icon class="email-conformation-icon">check_circle_outline</mat-icon>
        <h3>Hi {{this.tempUser.Name}}, thank you for signing up! <span>
            <mat-icon class="smile-icon">sentiment_satisfied_alt</mat-icon>
          </span></h3>
        <h3>You need to confirm your email to be able to login.</h3>
      </div>
    </div>

    <div class="suspicious-activity" *ngIf="suspiciousActivity">
      <div class="container-fluid">
        <img src="../../assets/icons/001-hacker.png" alt="Suspicious Activity">
        <h3>Hi there, we have noticed suspicious activity with your account.</h3>
        <h3>Please contact the system admin.</h3>
      </div>
    </div>
  </div>
</div>